/*insert cool css here!*/
body {
  /*background-color: #6699CC;*/
  /*background-color: #003366;*/
  background-color: #D0EAFF;

}
.controls {
	position:absolute;
	top: 0px;
	/*left: 10px;*/
}


.bar {
	text-align: center;
	background-color: #989898;
	position: fixed; 
	top: 0px;
	right: 0px;
	width: 250px;
	padding: 0px 5px 5px;
	-moz-box-shadow: -4px 4px 8px #888; /* FF 3.5+ */
	-webkit-box-shadow: -4px 4px 8px #888; /* Safari 3.0+, Chrome */
	box-shadow: -4px 4px 8px #888; /* Opera 10.5, IE 9.0 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=215, Color='#888888'); /* IE 6, IE 7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=215, Color='#888888')"; /* IE 8 */
}
.bar .send {
  display: block;
  width: 90%;
  margin: auto;
  background-color: #D3D9DF;
  margin-bottom: 10px;
  font-size: 20px;
}

.messageBox{
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  border-radius: 5px;
  height: 40px;
  font-size: 20px;
}

.toggle {
	padding: 5px 0px;
	margin-bottom: 5px;
	cursor: pointer;
	background-position: 50% 5px;
	background-repeat: no-repeat;
	height: 5px;
}

.selected {
  stroke: lightyellow;
  stroke-width: 5px;
  /*box-shadow: 0px 0px 5px #fff;*/
}

.label {
	color: black;
	stroke: none;
}

.link {
  fill: none;
  stroke: #003366;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

html, body, .d3box {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

